/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f0f0f;
  color: #f0f0f0;
  line-height: 1.6;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color：#000000;
  border-bottom: 1px solid #1f1f1f;
}

.logo img {
  height: 25px;
}


nav a {
  margin-left: 20px;
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #00eaff;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #0f0f0f, #1a1a1a);
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero p {
  font-size: 1.2rem;
  color: #bbbbbb;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #121212;
  border-top: 1px solid #1f1f1f;
  color: #666;
  font-size: 0.9rem;
}
